.userProfileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5vh 15vw;
  border: 1px solid black;
  // min-width: fit-content;

  .mainInfos {
    display: grid;
    grid-template: auto auto / 1fr 2fr;
    max-width: min-content;
    column-gap: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .userProfileContainer {
    margin: 0;
    width: 100vw;
    .mainInfos {
      display: block;
    }
  }
}
