.userProfileHeader {
  border-radius: 20px;
  background-color: whitesmoke;
}
.multipleOptionsContainer {
  hr {
    margin: 1.5rem 2rem 0 2rem;
  }
  .multipleOptions {
    display: flex;
    flex-direction: row;

    margin: 0 2rem;
    .multipleOptionsItem {
      border: transparent;

      font-size: 1.05rem;
      margin: 0.2rem;
      // padding: 0.8rem;
      a {
        padding: 0.8rem;
        display: block;
        border-radius: 10px;
        &:hover {
          background-color: lightgray;
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .userProfileHeader {
    max-width: 100vw;
  }
  .multipleOptions {
    justify-content: center;
    .multipleOptionsItem {
      a {
        font-size: 0.8rem;
      }
    }
  }
}
