.userPictureContainer {
  position: relative;

  .userStatus {
    position: absolute;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    bottom: 0;
    left: 40px;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
      display: flex;
      background-color: green;
      border: 3px solid white;
      //posibil sa fi pus clasa asta gresit aici, de verificat
      &.onMobile {
        display: block;
        background-color: white;
        width: 0.35rem;
        height: 0.35rem;
        border-radius: 50%;
        border: none;
      }
    }
  }
}

.userItem {
  display: flex;
  align-items: start;
  justify-content: flex-start;
  padding-top: 1rem;

  &:last-child {
    .userName::after {
      border: none;
    }
  }
  &:last-child {
    align-items: start;
  }

  .profilePicture {
    border-radius: 50%;
    width: 3.2rem;
    height: 3.2rem;
    margin-left: 0.5rem;
  }
  .userName {
    font-weight: 400;
    white-space: nowrap;
    font-size: 1rem;

    &::before {
      content: "";
      padding-left: 0.7rem;
    }
    &::after {
      display: block;
      content: "";

      border-bottom: 1px solid rgb(223, 223, 223);
      margin-top: 2.4rem;
      width: 100vw;
    }
  }
  &:hover,
  &:active {
    background-color: rgb(223, 223, 223);
  }
}
