.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .newsFeed {
    margin: 0 2.5rem;
  }
  aside {
    position: sticky;
    height: max-content;
    top: 0;

    min-width: fit-content;
    background-color: whitesmoke;
    border-bottom: none;
  }
}
@media only screen and (max-width: 950px) {
  .mainContainer {
    .newsFeed {
      margin: 0 0.5rem;
    }
  }
}
@media only screen and (max-width: 650px) {
  .mainContainer {
    display: block;

    .newsFeed {
      margin: 0 0.1rem;
    }
  }
}
