.listOfUsersContainer {
  position: relative;

  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 670px) {
  .listOfUsersContainer {
  }
}
