.listOfUsersContainer {
  position: relative;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 670px) {
  .listOfUsersContainer {
  }
}
