.leftSideContainer {
  position: absolute;
  left: -18rem;
  top: 1.3rem;
  background-color: whitesmoke;
  border-radius: 10px;
}

.listOfButtons {
  margin: 1.5rem 1rem;
  .buttonItem {
    margin: 0.5rem 0;

    display: flex;
    justify-content: center;
    button {
      font-weight: 600;
      width: 100%;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: end;
      background-color: whitesmoke;
      border-radius: 10px;
      border: transparent;
      &:hover {
        background-color: lightgray;
      }
      span {
        margin-left: 0.2rem;
      }
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
}
a {
  display: flex;
  align-items: end;
}

@media only screen and (max-width: 670px) {
  .leftSideContainer {
    display: none;
  }
}

@media only screen and (max-width: 950px) {
  .leftSideContainer {
    left: -6rem;
  }
  .listOfButtons {
    .buttonItem {
      button {
        padding: 0.3rem;
        max-width: min-content;
        .leftSideItemName {
          display: none;
        }

        .icon {
          font-size: 2rem;
        }
      }
    }
  }

  .profileContainerLeftSide {
    display: flex;
    width: min-content;
    flex-direction: column;
    align-items: center;
  }
}

// de modificat
@media only screen and (max-width: 800px) {
  .leftSideContainer {
    top: 1rem;
  }
}
